<!-- logo -->
<a href="<%- url_for('/')%>" class="trm-logo-frame trm-anima-link">
    <% if(theme.favicon.logo) { %>
        <%- swich_imgs([theme.favicon.logo, theme.favicon.dark_logo], { alt: "logo" }) %>
    <% } %>
    <% if(theme.user.name) { %>
        <div class="trm-logo-text">
            <%= theme.user.name %>
        </div>
    <% } %>
</a>
<!-- logo end -->